

.Notizen_56fd0c1dc008b61040e7c027808a587d{
	background-color: #fafec0;	
}
.Notizen_56fd0c1dc008b61040e7c027808a587d .inputArt,
.Notizen_56fd0c1dc008b61040e7c027808a587d .inputStunden
{
	display:none;
}
.monatsliste .Notizen_56fd0c1dc008b61040e7c027808a587d .inputKommentar{
	width: 200px;
}







/* responsive */

/*
@media screen and (max-height: 200px) {
  .login .logo{
	  display:none;
  }
  .login form{
	  margin-bottom: 0;
  }
}
*/

@media screen and (max-width: 700px) {
	nav .logo{display:none;}
}
@media screen and (max-width: 815px) {
	nav h1{display:none;}
}

